@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    background-color: aliceblue;
    margin-bottom: 0;
}
header{
    height: 170px;
    background: rgb(9, 122, 45);
    text-align: center;
    color: aliceblue;
    padding: 30px;
    margin: auto 0;
    letter-spacing: 2px;
}
h1{
    font-size: 45px;
}

#container{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
margin-bottom: 0;


}

 form #filter{
     padding: 10px;
     margin-top: 20px;
     opacity: 0.9;
     width: 290px;
     outline-color: rgb(12, 170, 25);
     border-radius: 20px;
     border:0px solid white;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
     -ms-border-radius: 20px;
     -o-border-radius: 20px;
     text-align: center;
     font-size: 15px;
}
form #filter:focus{
    background-color: rgb(225, 231, 231);

}


.items{
    border: 2px solid rgb(236, 222, 220);
    box-shadow: 0px 0px 10px rgb(11, 78, 28) ;
    width: 500px; 
    
   
}
ul{
    list-style-type: none;
}

#empty{
color: gray;
margin: 0 auto;
display: flex;
justify-content: center;
margin: 10px;
}

ul li{
margin: 20px 10px;
border: 1px solid rgb(224, 226, 226);
padding: 15px;
border-top:0;
border-left-color: rgb(228, 233, 217);
border-left-width: 3px;
}


ul li:hover{
 border-left-color: green ;
}


i{
     float: right;
     margin-right:5px;
     padding: 2px;
     width: 40px;
     background-color: rgb(192, 226, 192);
     text-align: center;
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}

i:hover{
    background-color: rgb(7, 7, 7);
    color: aliceblue;
}


#addinput{
    text-align: center;
    padding: 5px;
    
}

 form #text {
     padding: 10px;
     width: 189px;
     max-width: 300px;
     margin: 10px 0;
     font-size: 13px;
     outline-color: rgb(12, 170, 25);
     text-align: center;
     border:1px solid grey;
     border-radius:15px ;
     -webkit-border-radius:15px ;
     -moz-border-radius:15px ;
     -ms-border-radius:15px ;
     -o-border-radius:15px ;
}
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    background-color: rgb(192, 226, 192);
    width: 100%;
    padding: 20px 0;
}

#footer{
    margin-left: 5px;
}
#footer:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

form #submit{
    padding:7px 10px;
    background: rgb(64, 145, 64);
    color: antiquewhite;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}

@media (min-width:310px) and (max-width:767px) {
    header{
        width:100%;
        height:200px;
    }

    form #filter{
        width: 220px;
        margin: 5px;
        outline-color: rgb(12, 170, 25);
    }
    
    #container{
        width: 100%;
        margin-top: 10px;
    }
    
    .items{
        width: 95vw;
        max-width: 600px;
    }
    li{
        padding: 5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
        #empty{
            text-align: center;
        }
    
        form #text{
            width: 200px;
            margin: 5px;
            outline-color: rgb(12, 170, 25);
            border-radius: 20px;
            margin-top: 15px;
        }
        ul li{
            border-top-left-radius: 0%;
        }
        h1{
            font-size: 35px;
        }
    }